{
  "extends": [
    "react-app",
    "prettier" //=> extend "eslint-config-prettier"
  ],
  "plugins": [
    "react",
    "prettier" //=> plugin "eslint-plugin-prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "semi": false,
        "trailingComma": "none",
        "endOfLine": "auto", //end line must have ';'
        "tabWidth": 2,
        "printWidth": 80,
        "useTabs": false
      },
      {
        "usePrettierrc": true
      }
    ],
    "no-console": "off"
  }
}