@import "./../../css/variable";
@import "./../../css/mixin";
footer {
  margin-top: 0px;
  max-width: 100%;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  background-image: radial-gradient(at 30% top, rgba(3, 29, 51, 1) 0%, rgba(3, 37, 65, 1) 70%);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  // position: absolute;
  // bottom: 0;
}

footer section {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  opacity: 0.1;
  font-size: 0.7em;
}

footer section a {
  color: #fff;
}

footer nav {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

footer nav,
footer nav a {
  color: #fff;
}

footer nav div {
  margin-right: 40px;
  min-width: 0;
  box-sizing: border-box;
  top: -30px;
  margin-top: 16.5px;
}

footer nav div:last-child {
  margin-right: 0;
}

footer nav div.join {
  text-align: right;
  position: relative;
  top: 0px;
  right: 0;
  margin-top: 0px;
  a {
    padding: 10px;
  }
}

footer nav div.join img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

footer nav h3 {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}

footer nav ul li {
  padding: 0;
  line-height: 1.6em;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

footer nav ul li a span.glyphicons {
  top: 0;
  font-size: 0.6em;
}

footer nav ul li a {
  font-size: 1.2em;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

footer nav a.rounded {
  position: relative;
  top: 140px;
  border-color: #fff;
  background-color: #fff;
  color: rgba(1, 180, 228, 1);
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  text-transform: uppercase;
}

footer nav a.rounded.logged_in {
  text-transform: none;
}

footer.pad {
  margin-top: 60px;
}

footer nav {
  font-size: 0.9em;
}

footer nav ul.right {
  margin-bottom: 15px;
}

footer nav ul.right li {
  border-right: 1px solid #000;
  padding: 0 10px 0 10px;
}

footer nav ul.right li:last-child {
  border-right: none;
  padding-right: 0;
}

footer ul.social {
  position: relative;
  top: 8px;
  right: 0;
}

footer ul.social li {
  margin-right: 10px;
  display: inline;
}

footer ul.social li:last-child {
  margin-right: 0;
}

footer ul.social li a {
  font-size: 2.2em;
  color: #333;
}

@mixin responsive() {
  footer {
    padding-left: 3px;
    nav.container {
      margin-left: 0px;
      padding: 18px 18px 10px;
      display: block;
      .join {
        display: flex;
        flex-direction: column;
        img {
          transform: scale(0.7);
          position: relative;
          left: -18px;
          top: -11px;
        }
        a.rounded {
          top: 0;
          left: 0;
          /* float: left; */
          width: fit-content;
        }
      }
      li {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
//mobile
@include responsive_320 {
  @include responsive();
}

@include responsive_375 {
  @include responsive();
}

@include responsive_425 {
  @include responsive();
}

@include responsive_768 {
  @include responsive();
}

//desktop

@include responsive_992 {
}

@include responsive_1024 {
}

@include responsive_1200 {
}
