@import "./../../css/variable";
@import "./../../css/mixin";

// background-image: linear-gradient(rgb(134, 87, 78) 100px, rgba(0, 0, 0, 0.5) 200%), url(https://image.tmdb.org/t/p/w1280/UgNke0mMQhQdnX2hEu4cN83M0a.jpg);}
div.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  .inBackDrop.container {
    max-width: $maxWidth;
    padding: 0 31px;
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      .col-md-12 {
        padding-top: 30px;
        padding-bottom: 30px;
        // max-width: 300px;
        img {
          border-radius: 8px 8px 0px 0px;
          min-width: 300px;
          width: 300px;
          height: 450px;
          // background-color: #dbdbdb;
        }
        .watch {
          border-radius: 0px 0px 8px 8px;
          min-width: 300px;
          background-color: #032541;
          font-weight: 600;
          font-size: 1em;
          padding: 1.3rem;
        }
      }
      .col-md {
        color: white;
        h3 {
          font-weight: 700;
          font-size: 35.2px;
          span {
            opacity: 0.8;
            font-weight: 400;
          }
        }
        .overview {
          .pOverview {
            margin-bottom: 20px;
          }
          h4 {
            font-weight: 600;
            font-size: 1.3em;
            margin-bottom: 10px;
          }
          h6 {
            font-weight: bold;
          }
          .row {
            .col-6 {
              h6 {
                margin-bottom: 0;
              }
              p {
                font-size: 0.9em;
                margin-bottom: 20px;
              }
            }
          }
        }
        p.center {
          margin-bottom: 24px;
          .genre {
            color: inherit;
          }
          .genre:hover {
            color: rgb(180, 176, 176);
          }
        }
        .doughnut {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          h5 {
            margin-left: 8px;
            font-size: 1em;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@mixin responsiveSlide() {
  div.main {
    .inBackDrop.container .collection.row {
      padding: 0px 18px;
      padding-bottom: 8px;
    }
    .inBackDrop.container .row {
      padding-left: 7px;
      padding-right: 7px;
      .col-md-12 {
        padding-top: 20px;
        padding-bottom: 7px;
        text-align: center;
        img {
          max-width: 170px;
          min-width: unset;
          height: 255px;
          border-radius: $imgBorderRadiusMobile;
          // max-height: 300px;
        }
      }
      .col-md {
        padding: 0 !important;
        p {
          font-size: 0.875rem;
        }
        .overview {
          .pOverview {
            text-align: justify;
          }
          .row {
            .col-6 {
              // height: 75px;
              h5 {
                margin-bottom: 0.3rem;
              }
            }
          }
        }
        h3 {
          margin-bottom: 0;
          font-weight: 500;
          font-size: 1.5rem;
          text-align: center;
          margin-bottom: 5px;
          span {
            font-size: 0.8em;
            font-weight: 400;
          }
        }
        p.center {
          margin-bottom: 12px;
          text-align: center;
        }
        p.center.s2 {
          text-align: center;
        }
      }
    }
  }
}
//mobile
@include responsive_320 {
  @include responsiveSlide();
  div.main .inBackDrop.container .row {
    .col-md-12 {
    }
    .col-md {
      .overview {
        .row {
          .col-6 {
            padding-left: 7px;
            padding-right: 7px;
          }
        }
      }
    }
  }
}

@include responsive_375 {
  @include responsiveSlide();
  div.main .inBackDrop.container .row {
    .col-md-12 {
    }
    .col-md {
      .overview {
        .row {
          .col-6 {
            padding-left: 7px;
            padding-right: 7px;
          }
        }
      }
    }
  }
}

@include responsive_425 {
  @include responsiveSlide();
  div.main .inBackDrop.container .row {
    .col-md-12 {
    }
    .col-md {
      .overview {
        .row {
          .col-6 {
            padding-left: 7px;
            padding-right: 7px;
          }
        }
      }
    }
  }
}

@include responsive_768 {
  @include responsiveSlide();
  div.main .inBackDrop.container .row {
    .col-md-12 {
      img {
        max-width: 220px;
        height: 327.8px;
      }
    }
    .col-md {
      .overview {
        .row {
          .col-6 {
            padding-left: 7px;
            padding-right: 7px;
          }
        }
      }
    }
  }
}

//desktop

@include responsive_992 {
  .main {
  }
}

@include responsive_1024 {
}

@include responsive_1200 {
  div.main .inBackDrop.container .row {
    .col-md {
      padding-left: 40px !important;
    }
  }
}
