.facebook_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/social/facebook-71155d1cd369c47ce8456477833a92c324fa01e6d628cb6ece19cedea3c1c480.svg");
  background-repeat: no-repeat;
}
.twitter_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/social/twitter-a6ff8c172b8e086f4a64578cee0a16676c1a067b47a1b1b186d58795d241a852.svg");
  background-repeat: no-repeat;
}
.instagram_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/social/instagram-74e6299c864adc384258da3b3a8eb09282b7ccda4dd1dfa9a4158ba2ea8583b9.svg");
  background-repeat: no-repeat;
}
.calendar_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-46-calendar-3e0931dfeba8f62c51e81dfa4364a6d836f3a03aaf739a51d0846902ee367645.svg");
  background-repeat: no-repeat;
}
.circle_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-298-circle-empty-04c378f484e29180410eb305f586561b024cc969e038a8687fffd641f55b894c.svg");
  background-repeat: no-repeat;
}
.circle_icon-2 {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-299-circle-selected-bd5504b5b4b3d56021801a8f1d64956aedf8be4f77e8b614244b9224943a5998.svg");
  background-repeat: no-repeat;
}
.star_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-49-star-67a24f6d4324aa644c594653e762b1c0de2b3e1ce0852171cfa49cc2650de374.svg");
  background-repeat: no-repeat;
  filter: invert(1);
}
.light-blue_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/account_pipes/light_blue-a230b623827400e967c6eb7241d88086f2eb9264c0789d0dab15ae6f1df1421a.svg");
  background-repeat: no-repeat;
}
.collectionAlt_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/account_pipes/silver-251bf173c626c8be6f61efdd85b7009a83b2f9dfa60b80b182351a02fa2a57ec.svg");
  background-repeat: no-repeat;
}
.youtube_icon {
  background-image: url("https://www.themoviedb.org/t/p/original/e2XGMhHKR9QKE8huwuP0xqqZ9zs.svg");
  background-repeat: no-repeat;
}
.verifyCheck_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-304-verify-check-de4e704637b8d5964017b66a2c63bdfff2a8cb9ecce81c6e95e8631911d97a96.svg");
  background-repeat: no-repeat;
}
.check_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-739-check-5d342631f0752609bcce3a844f9ba24f1c95d2d06b1674b1ba146d35f9cdce7a.svg");
  background-repeat: no-repeat;
}
.play_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-175-play-806cb05551791b8dedd7f8d38fd3bd806e2d397fcfeaa00a5cc9129f0819fd07.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(1);
}
.chevronDown_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-221-chevron-down-e38bfea9df2c34a300157424b5aa481c58addc01323bfe4106d78b9650d5a1d5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.circleAlert_icon {
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-637-circle-alert-6c910e8542fb88ad14dab4b2b9a14b4453a6e51fcb5c2f2671d641b7aef095ac.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 19.2px;
  height: 19.2px;
  filter: invert(1);
}
.headerBackground {
  background-image: url("https://www.themoviedb.org/assets/2/v4/account_pipes/silver-251bf173c626c8be6f61efdd85b7009a83b2f9dfa60b80b182351a02fa2a57ec.svg");
  background-repeat: no-repeat;
  background-position: center -260px;
}
