$maxWidth: 1300px;
$maxWidth2: 1330px;
$colorMain: #032541;
$imgBorderRadius: 8px;
$imgBorderRadiusMobile: 6px;

//mobile
$res_320: "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375: "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425: "only screen and (min-width: 425px) and (max-width: 767px)";
$res_768: "only screen and (min-width: 768px) and (max-width: 991px)";
//desktop
$res_992: "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024: "only screen and (min-width: 1024px) and (max-width: 1999px)";
$res_1200: "only screen and (min-width: 1200px)";
